body {
  min-height: 100vh;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  border: 5px solid green;
  padding: 30px;
}

.div2 {
  background-color: green;
}

.header {
  border: yellowgreen 5px solid;
  padding: 25px;
  margin-bottom: 5px;
}

.toggleHeader {
  border: red solid 5px;
}
